*{
    margin: 0px;
    padding: 0px;
}
h1{
    margin-bottom: 10px;
    font-size: 50px;
}
.main-card{
    text-align: center;
    margin: 0 auto;
    max-width: 390px;
    height: 600px;
    margin-top: 120px;
    box-shadow: 0px 4px 8px 0px;
    transition: 0.3s;
    font-size: 0px;
}
.main-card:hover{
    box-shadow:0px 16px 32px 0px ;
}
.header #head{
    width: 337px;
    height: 90Px;
    font-weight: bold;
    font-size: 32px;
    text-align: right;
    letter-spacing: 2px;
    padding: 0px 5px;
}
.btn{
    width: 87px;
    height: 70px;
    font-weight: bold;
    font-size:  16px;
    background-color: #1f2326;
    color: white;
}
.btn-style{
    background-color: blueviolet;
}
.btn-style2{
    background-color: aqua;
}